.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 3px solid var(--teal);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.title {
  margin-right: auto;
  padding-left: 3%;
}

.btn {
  text-decoration: none;
}
