.profile_container {
  min-height: 85vh;
  padding: 2%;
  border: 3px solid var(--teal);
  color: var(--teal);
  border-radius: 3px;
}

.profile_pic {
  margin: auto;
  display: block;
  max-width: 55%;
  max-height: 55%;
  border: 3px solid var(--teal);
  border-radius: 50%;
  opacity: 80%;
}

.identity {
  text-align: center;
}
.about {
  display: inline-block;
  padding: 0 min(30px, 3%);
}

.contact {
  padding: min(20px, 3%) auto;
}

.contact a {
  text-decoration: none;
  color: var(--teal);
}

.contact_unit {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.icon {
  margin-right: 5px;
}

.contact_unit:hover {
  transform: scale(1.05);
}

/***************
  Media queries
***************/
@media screen and (max-width: 960px) {
  .prosfile_container {
    max-height: 85vh;
  }
}
