.profile_container {
  min-height: 85vh;
  padding: 2%;
  border: 3px solid var(--teal);
  color: var(--teal);
  border-radius: 3px;
  box-shadow: 1px 1px 7px var(--teal);
}

.profile_container:hover {
  box-shadow: 2px 2px 18px var(--teal);
}

.profile_pic {
  margin: auto;
  display: block;
  max-width: 55%;
  max-height: 55%;
  border: 5px solid var(--teal);
  border-radius: 50%;
  opacity: 80%;
}

.identity {
  text-align: center;
}
.about {
  display: inline-block;
  padding: 0 min(30px, 3%);
}

.contact {
 
}

.contact a {
  text-decoration: none;
  color: var(--teal);
}

.contact_unit {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.icon {
  margin-right: 5px;
}

.contact_unit:hover {
  transform: scale(1.05);
}

